<launch>
<!-- drone0 -->

<include file="/home/nics/Drone/BambiplayGit-Fast-Drone-250-tuned_simulation/src/planner/rosmsg_tcp_bridge/launch/bridge.launch">
  <arg name="drone_id" value="0" />
</include>

<!-- drone1 -->

<include file="/home/nics/Drone/BambiplayGit-Fast-Drone-250-tuned_simulation/src/planner/rosmsg_tcp_bridge/launch/bridge.launch">
  <arg name="drone_id" value="1" />
</include>

<!-- drone2 -->

<include file="/home/nics/Drone/BambiplayGit-Fast-Drone-250-tuned_simulation/src/planner/rosmsg_tcp_bridge/launch/bridge.launch">
  <arg name="drone_id" value="2" />
</include>

</launch>
