<launch>
    <!-- uwb_sim -->
    <arg name="sigma_r" default="0.00002"/>
    <arg name="sigma_Y" default="0.00002"/> 
    <arg name="sigma_P" default="10"/>
    <!-- sigma_Y and sigma_R is in degree!!!!! -->
    <arg name="timer_duration" default="0.02"/>

    <!-- drift_node -->
    <arg name="walk_sigma_xy" default="0.1"/>
    <arg name="walk_sigma_Y" default="3"/> 
    <!-- walk_sigma_Y is in degree!!!!! -->
    <arg name="start_time_drift" default="30"/>
    <arg name="timer_duration_drift" default="0.02"/>

    <!-- uwb_cali,IMPORTANT: MUST BE AHEAD OF UWB SIM -->
    <group ns="drone0">
        <node name="uwb_cali_node" pkg="uwb" type="uwb_cali" output="screen">
            <param name="self_id" type="int" value="0"/>
            <param name="sigma_r" type="double" value="$(arg sigma_r)"/>
            <param name="sigma_Y" type="double" value="$(arg sigma_Y)"/>
            <param name="sigma_P" type="double" value="$(arg sigma_P)"/>
            <param name="walk_sigma_x" type="double" value="$(arg walk_sigma_xy)"/>
            <param name="walk_sigma_y" type="double" value="$(arg walk_sigma_xy)"/>
            <param name="walk_sigma_Y" type="double" value="$(arg walk_sigma_Y)"/>
        </node>
    </group>

    <group ns="drone1">
        <node name="uwb_cali_node" pkg="uwb" type="uwb_cali" output="screen">
            <param name="self_id" type="int" value="1"/>
            <param name="sigma_r" type="double" value="$(arg sigma_r)"/>
            <param name="sigma_Y" type="double" value="$(arg sigma_Y)"/>
            <param name="sigma_P" type="double" value="$(arg sigma_P)"/>
            <param name="walk_sigma_x" type="double" value="$(arg walk_sigma_xy)"/>
            <param name="walk_sigma_y" type="double" value="$(arg walk_sigma_xy)"/>
            <param name="walk_sigma_Y" type="double" value="$(arg walk_sigma_Y)"/>
        </node>
    </group>

    <group ns="drone2">
        <node name="uwb_cali_node" pkg="uwb" type="uwb_cali" output="screen">
            <param name="self_id" type="int" value="2"/>
            <param name="sigma_r" type="double" value="$(arg sigma_r)"/>
            <param name="sigma_Y" type="double" value="$(arg sigma_Y)"/>
            <param name="sigma_P" type="double" value="$(arg sigma_P)"/>
            <param name="walk_sigma_x" type="double" value="$(arg walk_sigma_xy)"/>
            <param name="walk_sigma_y" type="double" value="$(arg walk_sigma_xy)"/>
            <param name="walk_sigma_Y" type="double" value="$(arg walk_sigma_Y)"/>
        </node>
    </group>

    <!-- uwb_sim -->
    <group ns="simulations">
        <node name="uwb_sim_node" pkg="uwb" type="uwb_sim" output="screen">
            <param name="sigma_r" type="double" value="$(arg sigma_r)"/>
            <param name="sigma_Y" type="double" value="$(arg sigma_Y)"/>
            <param name="sigma_P" type="double" value="$(arg sigma_P)"/>
            <param name="timer_duration" type="double" value="$(arg timer_duration)"/>
        </node>
    </group>

    <!-- uwb_drift -->
    <group ns="simulations">
        <group ns="drone0">
            <node name="drift_node" pkg="uwb" type="drift_node" output="screen">
                <param name="self_id" type="int" value="0"/>
                <param name="sigma_x" type="double" value="$(arg walk_sigma_xy)"/>
                <param name="sigma_y" type="double" value="$(arg walk_sigma_xy)"/>
                <param name="sigma_Y" type="double" value="$(arg walk_sigma_Y)"/>
                <param name="start_time" type="double" value="$(arg start_time_drift)"/>
                <param name="timer_duration" type="double" value="$(arg timer_duration_drift)"/>
            </node>
        </group>

        <group ns="drone1">
            <node name="drift_node" pkg="uwb" type="drift_node" output="screen">
                <param name="self_id" type="int" value="1"/>
                <param name="sigma_x" type="double" value="$(arg walk_sigma_xy)"/>
                <param name="sigma_y" type="double" value="$(arg walk_sigma_xy)"/>
                <param name="sigma_Y" type="double" value="$(arg walk_sigma_Y)"/>
                <param name="start_time" type="double" value="$(arg start_time_drift)"/>
                <param name="timer_duration" type="double" value="$(arg timer_duration_drift)"/>
            </node>
        </group>

        <group ns="drone2">
            <node name="drift_node" pkg="uwb" type="drift_node" output="screen">
                <param name="self_id" type="int" value="2"/>
                <param name="sigma_x" type="double" value="$(arg walk_sigma_xy)"/>
                <param name="sigma_y" type="double" value="$(arg walk_sigma_xy)"/>
                <param name="sigma_Y" type="double" value="$(arg walk_sigma_Y)"/>
                <param name="start_time" type="double" value="$(arg start_time_drift)"/>
                <param name="timer_duration" type="double" value="$(arg timer_duration_drift)"/>
            </node>
        </group>
    </group>

</launch>